<header class="site-header">
  <div class="header-container">
    <a routerLink="/" class="brand-name">Louis Lallement</a>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/gallery" routerLinkActive="active">Galerie</a></li>
        <li><a routerLink="/journaliste" routerLinkActive="active">Journaliste</a></li>
        <li><a routerLink="/a-propos" routerLinkActive="active">À Propos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>